:root {
	--color1: #10002B;
	--color2: #240046;
	--color3: #3C096C;
	--color4: #5A189A;
	--color5: #7B2CBF;
	--color6: #9D4EDD;
	--color7: #E3CCF1;
	--color8: #F9EDFF;
}

body {	
	margin: 0;
	
	.light-theme{
		font-family: 'Open Sans', sans-serif;
		background-color: var(--color8);
		padding-top: 100px;
		padding: 50px;	
		color: var(--color1);
		min-height: 100vh;

		main {
			max-width: 1000px;
			margin: 0 auto;
		}
	
		h1 {
			font-weight: 300;
		}
	
		.results {
			color: var(--color1);
			font-size: 12px;
			margin: 12px 5px;
		}
	
		header {
			width: 100%;
			flex-shrink: 0;
			border-radius: 6px;
			background-color: white;
			box-shadow: 0 2px 6px 1px #e1e5e8;
			margin-bottom: 14px;
			display: flex;
			flex-direction: column;
			border: 1px solid white;
			padding: 10px 20px;
			position: relative;
	
			input {
				width: 100%;
				text-overflow: ellipsis;
				display: inline-block;
				color: var(--text-color);
				font-size: 14px;
				outline: 0;
				transition: border .1s ease;
				resize: none;
				border: none;
	
				&::placeholder  {
					color: #b6c1cd;
				}
			}
		}
	
		a {
			color: var(--color6);
			cursor: pointer;
			font-weight: 500;
			font-size: 12px;
		}
		
		.next-page{
			position: absolute;
			right: 100px;
			margin: 5px;
		}
		.prev-page{
			position: absolute;
			left: 100px;
		}
		.curr-page{
			text-align: center;
			font-size: 11px;
		}
	
	
		.mode-btn{
			color: white;
			background-color: var(--color1);
			padding: 8px 20px 8px 20px;
			border-radius: 20px;
			font-size: medium;
			margin: 7px;
			position: absolute;
			right: 35px;
			top: 35px;
		}
	
		.tickets {
	
			margin: 0;
			padding: 0;
	
			.ticket {
				height: max-content;
				min-height: 150px;
				width: calc(50% - 70px);
				margin: 15px;
				display: inline-block;
				padding: 10px 20px;
				position: relative;
				background-color: white;
				box-shadow: 0 2px 6px 1px #e1e5e8;
	
				&:hover {
					box-shadow: 0 2px 6px 1px #d3d7da;
				}
	
				.title {
					margin: 10px 0;
					margin-right: 40px;
					font-size: 15px;
					font-weight: 400;
					font-style: normal;
					color: var(--color2);
					overflow: auto;
				}
	
				.content-less{
					font-size: 13px;
					font-weight: 300;
	
					overflow: hidden;
					height: 55px;
					display: block;
					position: relative;
					margin: 0px;
				}
				.content-more{
					font-size: 13px;
					font-weight: 300;
	
					overflow: visible;
					height: max-content;
					display: block;
					position: relative;
					margin: 0px;
				}
				
				.see-more{
					position: relative;
					top: 0px;
				}
	
				.pin{
					position: absolute;
					right: 10px;
					top: 10px;
				}
	
				footer {
	
					display: flex;
					justify-content: space-between;
					bottom: 0px;
					.meta-data {
						color: var(--color1);
						font-size: 10px;
						margin: 10px 0;
						flex-shrink: 0;
					}

					.clone{
						position: absolute;
						right: 10px;
						bottom: 5px;
						font-size: medium;
					}
					.delete{
						position: absolute;
						right: 40px;
						bottom: 5px;
						font-size: large;
					}
				}
			}
		}
	
	}

	.dark-theme{
		font-family: 'Open Sans', sans-serif;
		background-color: var(--color1);
		padding-top: 100px;
		padding: 50px;	
		color: var(--color7);
		min-height: 100vh;

		main {
			max-width: 1000px;
			margin: 0 auto;
		}
	
		h1 {
			font-weight: 300;
		}
	
		.results {
			color: var(--text-color);
			font-size: 12px;
			margin: 12px 5px;
		}
	
		header {
			width: 100%;
			flex-shrink: 0;
			border-radius: 6px;
			background-color: var(--color3);
			box-shadow: 0 2px 6px 1px var(--color3);
			margin-bottom: 14px;
			display: flex;
			flex-direction: column;
			border: 1px solid var(--color3);
			padding: 10px 20px;
			position: relative;
	
			input {
				width: 100%;
				text-overflow: ellipsis;
				display: inline-block;
				color: var(--color6);
				background-color: var(--color3);
				font-size: 14px;
				outline: 0;
				transition: border .1s ease;
				resize: none;
				border: none;
	
				&::placeholder  {
					color: var(--color4);
				}
			}
		}
	
		a {
			color: var(--color6);
			cursor: pointer;
			font-weight: 500;
			font-size: 12px;
		}

		.next-page{
			position: absolute;
			right: 100px;
			margin: 5px;
		}
		.prev-page{
			position: absolute;
			left: 100px;
		}
		.curr-page{
			text-align: center;
			font-size: 11px;
		}
		
		.mode-btn{
			color: var(--color1);
			background-color: var(--color8);
			padding: 8px 20px 8px 20px;
			border-radius: 20px;
			font-size: medium;
			margin: 7px;
			position: absolute;
			right: 35px;
			top: 35px;
		}
	
		.tickets {
	
			margin: 0;
			padding: 0;
	
			.ticket {
				height: max-content;
				min-height: 150px;
				width: calc(50% - 70px);
				margin: 15px;
				display: inline-block;
				padding: 10px 20px;
				position: relative;
				box-shadow: 0 2px 6px 1px var(--color2);
				background-color: var(--color2);
				
				&:hover {
					box-shadow: 0 2px 6px 1px var(--color3);
				}
	
				.title {
					margin: 10px 0;
					margin-right: 40px;
					font-size: 15px;
					font-weight: 400;
					font-style: normal;
					color: var(--color8);
					overflow: auto;
				}
	
				.content-less{
					color: var(--text-color);
					font-size: 13px;
					font-weight: 300;
	
					overflow: hidden;
					height: 55px;
					display: block;
					position: relative;
					margin: 0px;
				}
				.content-more{
					color: var(--text-color);
					font-size: 13px;
					font-weight: 300;
	
					overflow: visible;
					height: max-content;
					display: block;
					position: relative;
					margin: 0px;
				}
				
				.see-more{
					position: relative;
					top: 0px;
				}
	
				.pin{
					position: absolute;
					right: 10px;
					top: 10px;
				}
	
				footer {
	
					display: flex;
					justify-content: space-between;
					bottom: 0;
					.meta-data {
						color: var(--text-color);
						font-size: 10px;
						margin: 10px 0;
						flex-shrink: 0;
					}

					.clone{
						position: absolute;
						right: 10px;
						bottom: 5px;
						font-size: medium;
					}
					.delete{
						position: absolute;
						right: 40px;
						bottom: 5px;
						font-size: large;
					}

				}
			}
		}
	
	}

}
